* {
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.7rem;
    min-width: 100%;
    border-bottom: white solid 1px;
    height: 5rem;
}

.logo {
    padding-left: 30px;
    color: white;
}

.hornslogo {
    max-height: 70px;
}

.navbar li {
    display: inline;
    padding-right: 1.5rem;
    justify-content: center;
}

.navbar li a {
    text-decoration: none;
    color: white;
    padding-left: 20px;
    padding-right: 30px;
    flex-direction: column;
    padding-bottom: 8px;
}

.navbar li a:hover {
    color: grey;
    transition: ease-in 200ms 200ms;
}

h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Merienda', cursive;
    font-size: 3rem;;
    text-decoration: underline;
}

article .intervals-article {
    margin: 0 auto;
    display: flex;
    font-family: 'Indie Flower', cursive;
    font-size: 1.4rem;
    justify-content: space-evenly;
}

.aaron {
    display: flex;
    border-radius: 50px;
    opacity: 80%;
    margin: auto;
    }

.about-intervals {
    padding-top: 10%;
    min-height: 0px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 1.4rem;
}

.about-info {
    max-height: 1200px;
    margin: 0 auto;
    display: inline-block;
    overflow: hidden;
    max-width: 900px;
    text-align: center;

}

.discography {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 30px;
    flex-wrap: wrap;
    align-items: flex-start;
}

h2 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: underline;
    font-family: 'Indie Flower', cursive;
    font-size: 3rem;;
}

.discography img {
    max-width: 300px;
    height: auto;
    flex-direction: column;
    border-radius: 30px;
}

.img-container {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 1.4rem;
    padding: 0px 30px;
}

.media {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
}


/*Polyphia style*/

article .tim-img {
    display: flex;
    justify-content: center;
}

.polyphia-image {
    border-radius: 50px;
    display: flex;
    margin: auto;
    max-height: 1200px;
}

.about-polyphia {
    padding-top: 10%;
    min-height: 0px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 1.4rem;
}


@media (max-width: 600px) {

    .navbar {
        min-height: 130px;
    }

    article {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .aaron {
        max-width: 100%;
        margin-left: 0px;
    }

    .about-intervals {
        padding-left: 0px;
        padding-right: 0px;
    }

    .discography {
        flex-direction: column;
        align-items: center;
    }


    .media {
        position: relative;
        padding-bottom: 56.25%; 
        padding-top: 30px; 
        height: 0; 
        overflow: hidden;
    }

    .polyphia-image {
    max-width: 100%;
    margin-left: 0px;
    }
}